@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../static/Fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url(../static/Fonts/Montserrat-Bold.ttf) format("truetype");
}

* ::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.seccion-servicios {
  height: 100vh;
  width: 100%;
  background-image: url(../static/Backgrounds/Backgroud-Seccion-Servicios.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.seccion-comparador {
  position: absolute;
  left: 13vw;
  top: 65vh;
  background: white;
  border-radius: 20px;
  width: 70%;
  height: 34vh;
  box-shadow: #a2a2a28f 6px 6px 20px 0px;
  z-index: 3;
}

.sec1-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}

.select__control.css-13cymwt-control {
  background: #f7f7f7;
}

.select__placeholder {
  font-weight: bolder;
  background: #f7f7f7;
}

.sec1-form,
.sec2-form,
.sec3-form {
  height: 33.33%;
}

.rs-picker-input-group.rs-input-group.rs-input-group-inside {
  background: #f7f7f7 !important;
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: hsl(0, 0%, 80%);
}

.rs-picker-input-group.rs-input-group.rs-input-group-inside:hover {
  border-color: hsl(0, 0%, 80%);
}

.rs-input-group-addon {
  background: #f7f7f7 !important;
}

.rs-date-range-input.rs-input {
  background: #f7f7f7;
}

.rs-btn.rs-btn-link.rs-btn-sm {
  display: none;
}

.rs-picker-caret-icon.rs-icon {
  color: #009c8c;
  display: none;
}

.sec2-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}

.seccion-promociones {
  background: #f5f7f8;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5rem;
}

.titulo-promociones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  gap: 2rem;
}

.titulo-promociones h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 900;
  line-height: 78.02px;
  text-align: left;
  color: #008dc7;
}

.promociones-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
}

.promociones-slide img {
  width: 100%;
  height: auto;
}

.seccion-whychooseus {
  height: 80vh;
  width: 100%;
  background-image: url("../static/Backgrounds/Background-why.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.iosCard {
  border-radius: 40px;
  width: 26%;
  height: auto;
  padding: 15px;
  background-color: #fff;
  box-shadow: #0000002f 0px 4px 16px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 18px;
}

.title-card {
  color: #000;
  font-family: "Montserrat-Bold";
  font-size: 24px;
}

.contain-card {
  color: #626262;
  font-family: "Montserrat";
  font-weight: 500;
}

.iconBlue {
  width: 15%;
  aspect-ratio: 1/1;
  height: fit-content;
  object-fit: contain;
}

.titleHeadline {
  color: #009c8c;
  font-size: 64px;
  font-family: "Montserrat-Bold";
}

.headlineText {
}

.seccion-nuestros-seguros {
  background: #fff;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5rem;
}

.titulo-nuestros-seguros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  gap: 2rem;
}

.titulo-nuestros-seguros h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 900;
  line-height: 78.02px;
  text-align: left;
  color: #009c8c;
}

.nuestros-seguros-acordeones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100vh;
}

.nuestros-seguros-acordeones .accordion-button {
  background-color: #fff !important;
  color: #595959 !important;
  font-weight: bold;
  border-radius: 20px !important;
  gap: 20px;
}

.nuestros-seguros-acordeones .accordion-item {
  box-shadow: 0px 4px 16px 0px #00000026;
  border-radius: 10px;
}

.nuestros-seguros-acordeones .accordion-header {
  border-radius: 10px;
}

.seccion-opinion-clientes {
  width: 100%;
  height: 300px;
  /* background-image: url('../static/Frame - Curva-3.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.opinion-clientes {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #5dbca3 0%, #008dc7 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.titulo-nuestros-seguros {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.opinion-clientes h1 {
  color: #fff;
  text-align: justify;
}

.click-opinion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.sponsors {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.iconSponsor {
  width: 14%;
}

.iconArrow img {
  width: 40px;
  height: 40px;
}

.iconContent {
  display: flex;
  justify-content: space-evenly;
}

.click-opinion p {
  text-align: justify;
  color: #fff;
  font-size: 1.5rem;
}

.opinion-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.opinion-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.opinion-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.opiniones-img {
  width: auto;
  height: 150px;
}

.calificacion-opiniones {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.calificacion-img {
  margin-top: 1rem;
  height: 50px;
}

.seccion-blog {
  width: auto;
  height: 100vh;
  background-image: url("../static/piezas/PIEZAS GRAFICAS WEB - COMPARASEGURO_Mesa de trabajo 1 copia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.text-btn-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.textos-blog {
  color: #008dc7;
  padding: 5rem 0;
}

.botones-blog {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.ver-mas-art {
  display: block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  color: white !important;
  background: #2c1fbd;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.ver-mas-art:hover {
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}

.slider-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.slider-blog-img {
  height: 231px;
}

.slider-blog-img1 {
  height: 400px;
}

.seccion-preguntas-frecuentes {
  background: #fff;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5rem;
}

.titulo-preguntas-frecuentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  gap: 2rem;
}

.titulo-preguntas-frecuentes h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 900;
  line-height: 78.02px;
  text-align: left;
  color: #009c8c;
}

.preguntas-acordeones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100vh;
}

.preguntas-acordeones .accordion-button {
  background-color: #fff !important;
  color: #595959 !important;
  font-weight: bold;
  border-radius: 20px !important;
  gap: 20px;
}

.preguntas-acordeones .accordion-item {
  box-shadow: 0px 4px 16px 0px #00000026;
  border-radius: 10px;
}

.preguntas-acordeones .accordion-header {
  border-radius: 10px;
}

.select__input {
  border-radius: 20px !important;
}

.select__menu.css-1nmdiq5-menu {
  border-radius: 10px;
}

/*  RESPONSIVE HOME */

@media (orientation: portrait) {
  .seccion-servicios {
    height: 80vh;
    width: 100%;
    background-image: url(../static/Backgrounds/Background-Servicios-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .seccion-comparador {
    position: absolute;
    left: 6.5%;
    top: 44%;
    background: white;
    border-radius: 20px;
    width: 90%;
    height: 45vh;
    box-shadow: #a2a2a28f 6px 6px 20px 0px;
    z-index: 3;
  }

  .sec1-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
  }

  .sec2-form {
    display: none;
  }

  .sec3-form {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: center;
  }

  .destino,
  .origen,
  .fechainit-fechaend {
    width: 100%;
    border: 3px solid #009c8c;
  }

  .checkbox {
    display: flex;
    flex-direction: column;
  }

  .rs-picker-caret-icon.rs-icon {
    color: #d1d1d1;
    display: flex;
    height: 15px;
    width: 12px;
  }

  .rs-picker-input-group.rs-input-group.rs-input-group-inside {
    border-radius: 20px;
  }

  .rs-input-group-addon {
    border-radius: 20px !important;
  }

  .select__indicator-separator.css-1u9des2-indicatorSeparator {
    display: none;
  }

  .seccion-promociones {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
  }

  .titulo-promociones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .titulo-promociones h1 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
  }

  .promociones-slide {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50%;
    width: 100%;
  }

  .seccion-whychooseus {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .titleHeadline {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 800;
    line-height: 30px;
  }

  .content-cards {
    display: flex;
    flex-direction: column;
  }

  .title-card {
    font-weight: 700;
    font-size: 14px;
  }

  .contain-card {
    font-size: 11px;
  }

  .seccion-nuestros-seguros {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }

  .titulo-nuestros-seguros {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .titulo-nuestros-seguros h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 800;
  }

  .nuestros-seguros-acordeones {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }

  .nuestros-seguros-acordeones .accordion-button {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 11px;
    line-height: 20px;
  }

  .accordion-header h2 {
    line-height: 20px !important;
  }

  /* .seccion-opinion-clientes {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
    } */

  .opinion-clientes {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../static/PIEZAS GRAFICAS WEB - COMPARASEGURO_Mesa de trabajo mobile 2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .titulo-opiniones-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .titulo-opiniones-clientes h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 800;
  }

  .click-opinion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .opinion-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .opinion-1 img {
    display: flex;
    align-self: flex-start;
    height: 70px;
    width: 200px;
  }

  .opinion-1 h1 {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
  }

  .opinion-1 .opinion-textos {
    width: 156px;
    height: 88px;
    gap: 0px;
    opacity: 0px;
  }

  .click-opinion p {
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
  }

  .opinion-1 .calificacion-img {
    width: 86px;
    height: 17px;
  }

  .opinion-2,
  .opinion-3 {
    display: none;
  }

  .seccion-blog {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-image: url(../static/PIEZAS GRAFICAS WEB - COMPARASEGURO_Mesa de trabajo mobile 1.svg);
  }

  .text-btn-blog {
    width: 100%;
    height: 50%;
    gap: 20px;
  }

  .ver-mas-art {
    width: 177px;
    height: 40px;
  }

  .textos-blog {
    padding: 0;
  }

  .textos-blog h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    text-align: center;
  }

  .botones-blog {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .botones-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .slider-blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
  }

  .slider-blog-img {
    display: none;
  }

  .slider-blog-img1 {
    height: 300px;
  }

  .sponsors {
    width: 100%;
    height: 40vh;
    justify-content: space-evenly;
  }

  .iconContent {
    width: 100%;
    height: auto;
  }

  .iconSponsor {
    height: 65px;
    width: 130px;
  }

  .seccion-preguntas-frecuentes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  .titulo-preguntas-frecuentes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .titulo-preguntas-frecuentes h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 800;
  }

  .preguntas-acordeones {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }

  .footer {
    display: none;
  }

  .content-cards {
    gap: 15px;
    padding: 30px 0px;
  }

  .iosCard {
    width: 80%;
    padding: 15px 20px;
  }

  /* MODAL COTIZADOR */

  .form-mobile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
