@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../static/Fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url(../static/Fonts/Montserrat-Bold.ttf) format("truetype");
}

* ::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat" !important;
}

.seccion-servicios {
  height: 65vh;
  width: 100%;
  background-image: url(../static/Backgrounds/Backgroud-Seccion-Servicios.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.seccion-comparador {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15vw;
  top: 32vh;
  background: white;
  border-radius: 30px;
  width: 70%;
  height: 30vh;
  box-shadow: #a2a2a28f 6px 6px 20px 0px;
  z-index: 3;
}

.titulo-servicios {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 255px;
}

.titulo-servicios h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.sec1-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4% 5% 0px 5%;
}

.select__control.css-13cymwt-control {
  background: #f7f7f7;
}

.select__placeholder {
  font-weight: bolder;
  background: #f7f7f7;
}

.sec1-form,
.sec2-form,
.sec3-form {
  height: 33.33%;
}

.passengersAmount a {
  font-weight: 500;
  color: #000 !important;
}

.coupon input {
  font-weight: 500;
  color: #000 !important;
}

.react-international-phone-input {
  font-weight: 500;
  color: #000 !important;
}

.select__placeholder.css-1jqq78o-placeholder {
  font-weight: 500 !important;
  color: #000 !important;
}

.email input {
  font-weight: 500;
  color: #000 !important;
}

.buttonhot:hover {
  color: black;
}

.rs-picker-toggle-placeholder {
  color: #000 !important;
  /* Color negro para el placeholder */
}

.rs-picker-input-group .rs-input:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.rs-picker-input-group.rs-input-group-focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.rs-btn-icon.rs-btn-xs {
  color: #009c8c;
  font-weight: 700 !important;
}

.rs-calendar-header-title {
  color: #009c8c !important;
  font-weight: 700 !important;
}

.rs-picker-toolbar-right {
  order: 2;
  /* Mueve el botón "Aplicar" a la izquierda */
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  box-shadow: inset 0 0 0 1px #009c8c !important;
}

.rs-picker-daterange-header {
  display: none !important;
}

.rs-btn-primary {
  color: #009c8c !important;
  border-radius: 50px !important;
  width: 100px;
  background-color: #fff !important;
  border: 2px solid #009c8c !important;
  font-weight: 600 !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  background-color: #009c8c !important;
}

.rs-calendar-table-cell-content {
  border-radius: 25px !important;
}

.rs-picker-toolbar.rs-stack {
  border: none !important;
}

.rs-calendar {
  border: none !important;
}

.rs-input-group-addon {
  display: none;
}

.rs-anim-fade.rs-anim-in.placement-bottom-start.rs-picker-popup-daterange.rs-picker-popup {
  left: 53.5% !important;
  top: 400px !important;
}

.rs-picker-input-group.rs-input-group.rs-input-group-inside {
  background: transparent !important;
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: hsl(0, 0%, 80%);
}

.rs-picker-input-group.rs-input-group.rs-input-group-inside:hover {
  border-color: hsl(0, 0%, 80%);
}

.rs-input-group-addon {
  display: none !important;
  background: #f7f7f7 !important;
}

.rs-date-range-input.rs-input {
  background: transparent !important;
  font-family: "Montserrat";
  font-weight: 500 !important;
}

.rs-btn.rs-btn-link.rs-btn-sm {
  display: none;
}

.rs-picker-caret-icon.rs-icon {
  color: #009c8c;
  display: none;
}

.sec2-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.seccion-promociones {
  background: #f5f7f8;
  width: auto;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-promociones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  height: auto;
  gap: 2rem;
  margin-left: 7rem;
}

.titulo-promociones h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 900;
  line-height: 78.02px;
  text-align: left;
  color: #2c1fbd;
}

.promociones-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  margin: auto;
  margin-right: 7rem;
}

.promociones-slide img {
  width: 75%;
  height: 90%;
}

.seccion-whychooseus {
  height: 65vh;
  width: 100%;
  background-image: url("../static/Backgrounds/Background-why.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-cards {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-evenly;
}

.iosCard {
  border-radius: 40px;
  width: 24.4rem;
  height: 11.1rem;
  padding: 15px;
  background-color: #fff;
  box-shadow: #0000002f 0px 4px 16px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: justify;
  gap: 18px;
}

.title-card {
  color: #000;
  font-family: "Montserrat" !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
}

.contain-card {
  color: #626262;
  font-family: "Montserrat" !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
}

.iconBlue {
  aspect-ratio: 1 / 1;
  height: 70px;
  object-fit: contain;
}

.titleHeadline {
  color: #2c1fbd;
  font-size: 64px;
  font-family: "Montserrat" !important;
  font-weight: 800;
  line-height: 78.02px;
}

.seccion-nuestros-seguros {
  background: #fff;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 5rem;
  margin: 50px 0 120px 0;
}

.titulo-nuestros-seguros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.titulo-nuestros-seguros h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 900;
  line-height: 78.02px;
  text-align: left;
  color: #2c1fbd;
}

.nuestros-seguros-acordeones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: auto;
}

.seccion-nuestros-seguros .accordion {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.nuestros-seguros-acordeones .accordion-button {
  background-color: #fff !important;
  color: #595959 !important;
  font-weight: bold;
  border-radius: 20px !important;
  gap: 20px;
}

.nuestros-seguros-acordeones .accordion-item {
  box-shadow: 0px 4px 16px 0px #00000026;
  border-radius: 10px;
}

.nuestros-seguros-acordeones .accordion-header {
  border-radius: 10px;
}

.nuestros-seguros-acordeones .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23CDCDCD' stroke='%23CDCDCD' stroke-width='2' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.75.75 0 0 1 1.06 0L8 9.586l5.293-5.293a.75.75 0 1 1 1.06 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 0 1 0-1.06z'/%3E%3C/svg%3E");
}

.seccion-opinion-clientes {
  display: flex;
  width: 100%;
  height: 280px;
  background-image: url("../static/Frame - Curva-4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titulo-opiniones-clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-opiniones-clientes h1 {
  text-align: center;
}

.opinion-clientes {
  width: 100%;
  height: 65vh;
  background: linear-gradient(90deg, #5dbca3 0%, #008dc7 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.opinion-clientes h1 {
  color: #fff;
  text-align: center;
}

.click-opinion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 65%;
}

.sponsors {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sponsors .slick-arrow {
  display: none !important;
}

.iconSponsor {
  width: 100% !important;
  display: block;
}

.iconArrow img {
  width: 40px;
  height: 40px;
}

.iconContent {
  display: flex;
  /* justify-content: space-evenly; */
}

.click-opinion p {
  text-align: justify;
  color: #fff;
  font-size: 1.5rem;
}

.opinion-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 5px;
}

.opinion-1 h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 39.01px;
  align-self: flex-start;
}

.opinion-1 p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  text-align: justify;
}

.opinion-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.opinion-2 h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 39.01px;
  align-self: flex-start;
}

.opinion-2 p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  text-align: justify;
}

.opinion-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.opinion-3 h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 39.01px;
  align-self: flex-start;
}

.opinion-3 p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  text-align: justify;
}

.opiniones-img {
  width: 302.02px;
  height: 118px;
  align-self: center;
}

.calificacion-opiniones {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.calificacion-img {
  margin-top: 1rem;
  width: 181px;
  height: 31.98px;
}

.seccion-blog {
  width: auto;
  height: 100vh;
  background-image: url("../static/FONDO\ MAPAMUNDI.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec1-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

.text-btn-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.textos-blog {
  color: #2c1fbd;
  padding: 5rem 0;
}

.botones-blog {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.ver-mas-art {
  display: block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  color: white !important;
  background: #2c1fbd;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.ver-mas-art:hover {
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}

.slider-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.card-blog {
  display: flex;
  width: 230px;
  height: 265px;
  border: 12px solid #f3f3f3;
  border-radius: 100px;
  background: white;
  box-shadow: 0px 4px 12px 3px #00000030;
}

.card-blog1 {
  display: flex;
  width: 265px;
  height: 300px;
  border: 12px solid #f3f3f3;
  border-radius: 101px;
  background: transparent;
  box-shadow: 0px 4px 12px 3px #00000030;
}

.slider-blog-img {
  display: flex;
  position: relative;
  top: 0px;
  width: 230px;
  height: 242px;
  border: 11px;
  border-radius: 90px 90px 90px 90px;
  padding: 15px;
  background: #f0f0f0b8;
  box-shadow: 0px 5px 5px 0px #00000040 inset;
  transition: all 0.5s ease-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.slider-blog-img a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #2c1fbd;
  text-align: justify;
}

.slider-blog-img a:hover {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #fff;
}

.slider-blog-img a:focus {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #fff;
  text-decoration: none;
}

.slider-blog-img a:active {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #fff;
  text-decoration: none;
}

.slider-blog-img p {
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  line-height: 0.9rem;
}

.slider-blog-img1 {
  display: flex;
  width: 241px;
  height: 276px;
  border: 11px;
  border-radius: 90px 90px 90px 90px;
  padding: 15px;
  background: #f0f0f0b8;
  box-shadow: 0px 5px 5px 0px #00000040 inset;
  transition: all 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.slider-blog-img1 a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #2c1fbd;
  text-align: justify;
}

.slider-blog-img1 a:hover {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #fff;
}

.slider-blog-img1 a:focus {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #fff;
  text-decoration: none;
}

.slider-blog-img1 a:active {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15rem;
  color: #fff;
  text-decoration: none;
}

.slider-blog-img1 p {
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  line-height: 0.9rem;
}

.curva-blog {
  width: 100%;
  height: 22vh;
  background-image: url("../static/Curva-blog.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: ;
}

.seccion-preguntas-frecuentes {
  background: #fff;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 5rem;
  margin: 50px 0 120px 0;
}

.titulo-preguntas-frecuentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  gap: 2rem;
}

.titulo-preguntas-frecuentes h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 900;
  line-height: 78.02px;
  text-align: left;
  color: #2c1fbd;
}

.preguntas-acordeones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

.seccion-preguntas-frecuentes .accordion {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.slick-slider {
  width: 100%;
  /*NO TOCAR! sino el slider no se podrá vizualizar*/
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
  /* Elimina el separador del dropdown */
}

.preguntas-acordeones .accordion-button {
  background-color: #fff !important;
  color: #595959 !important;
  font-weight: bold;
  border-radius: 20px !important;
  gap: 20px;
}

.preguntas-acordeones .accordion-item {
  box-shadow: 0px 4px 16px 0px #00000026;
  border-radius: 10px;
}

.preguntas-acordeones .accordion-header {
  border-radius: 10px;
  border: 3px solid #008dc7 !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.preguntas-acordeones .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23008DC7' stroke='%23008DC7' stroke-width='2' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.75.75 0 0 1 1.06 0L8 9.586l5.293-5.293a.75.75 0 1 1 1.06 1.06l-6 6a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 0 1 0-1.06z'/%3E%3C/svg%3E");
}

.select__input {
  border-radius: 20px !important;
}

.select__menu.css-1nmdiq5-menu {
  border-radius: 10px;
}

.destino,
.origen {
  width: 25%;
}

.origen input::placeholder {
  color: #000 !important;
  font-weight: 600 !important;
}

.destino input::placeholder {
  color: #000 !important;
  font-weight: 600 !important;
}

.fechainit-fechaend {
  width: 45%;
}

.fechainit-fechaend img {
  margin-left: 10px;
}

.fechainit-fechaend input::placeholder {
  color: #000 !important;
  font-weight: 600 !important;
}

.passengersAmount {
  width: 25%;
}

.email {
  width: 25%;
}

.email input::placeholder {
  color: #000 !important;
  font-weight: 600 !important;
}

.phoneNumber {
  width: 22%;
}

.phoneNumber input::placeholder {
  color: #000 !important;
  font-weight: 600 !important;
}

.coupon {
  width: 20%;
}

.coupon input::placeholder {
  color: #000 !important;
  font-weight: 600 !important;
}

.rs-stack {
  width: 95%;
}

.rs-input-group.rs-input-group-inside .rs-input {
  width: 380px !important;
  background-color: transparent;
}

.swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(0.8);
  opacity: 0.5;
  margin-left: 50px;
}

.swiper-slide-active-center {
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}

/* Ajustes generales para el input y la bandera */
.iti {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  position: relative;
}

.iti__flag-container {
  position: absolute;
  left: 10px; /* Ajusta la posición según sea necesario */
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Asegura que la bandera esté visible */
  width: 30px; /* Ajusta el tamaño del contenedor de la bandera */
  height: 20px;
}

.iti__flag {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* Ajustes específicos para móviles en orientación portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .phoneNumber {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    padding-left: 50px; /* Deja espacio suficiente para la bandera */
  }

  .iti__flag-container {
    left: 10px; /* Ajusta la posición según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Asegura que el tamaño del contenedor sea adecuado */
    height: 20px;
  }

  .iti__flag {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

/*  RESPONSIVE HOME */

@media (min-width: 1280px) and (max-width: 1440px) {
  .seccion-comparador {
    position: absolute;
    left: 13vw;
    top: 32.5%;
    background: white;
    border-radius: 30px;
    width: 80%;
    height: 30vh;
    box-shadow: #a2a2a28f 6px 6px 20px 0px;
    z-index: 3;
  }
  
  .titulo-servicios h1 {
    font-size: 3rem;
  }
  
  .titulo-promociones h1 {
    font-size: 3rem;
  }

  .titleHeadline {
    font-size: 3rem;
  }

  .seccion-nuestros-seguros {
    height: 80vh;
  }

  .titulo-nuestros-seguros h1 {
    font-size: 3rem;
  }

  .seccion-opinion-clientes {
    background-image: url("../static/curva-opiniones.svg");
    height: 205px;
  }

  .seccion-blog {
    background-image: url("../static/FONDO MAPAMUNDI MAC.png");
    width: 100%;
  }

  .sec1-blog {
    height: 100%;
  }

  .text-btn-blog {
    width: 30%;
    align-items: self-end;
  }

  .slider-blog {
    justify-content: space-evenly;
    width: 70%;
  }

  .titulo-preguntas-frecuentes h1 {
    font-size: 3rem;
  }
}

@media (orientation: portrait) {
  .rs-input-group.rs-input-group-inside .rs-input {
    width: 100% !important;
  }

  .rs-anim-fade.rs-anim-in.placement-bottom-start.rs-picker-popup-daterange.rs-picker-popup {
    left: 15% !important;
    top: 350px !important;
  }

  .seccion-servicios {
    height: 80vh;
    width: 100%;
    background-image: url(../static/Backgrounds/Background-Servicios-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .titulo-servicios {
    display: none;
  }

  .seccion-comparador {
    position: absolute;
    left: 6%;
    top: 40%;
    background: white;
    border-radius: 20px;
    width: 90%;
    height: 45vh;
    box-shadow: #a2a2a28f 6px 6px 20px 0px;
    z-index: 3;
  }

  .sec1-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
  }

  .sec2-form {
    display: none;
  }

  .sec3-form {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: center;
  }

  .destino,
  .origen,
  .fechainit-fechaend,
  .phoneNumber,
  .email,
  .passengersAmount,
  .coupon {
    width: 90%;
    border: 3px solid #009c8c;
  }

  .fechainit-fechaend img {
    margin: 0;
  }

  .checkbox {
    display: flex;
    flex-direction: column;
  }

  .rs-picker-caret-icon.rs-icon {
    color: #d1d1d1;
    display: flex;
    height: 15px;
    width: 12px;
  }

  .rs-picker-input-group.rs-input-group.rs-input-group-inside {
    border-radius: 20px;
  }

  .rs-input-group-addon {
    border-radius: 20px !important;
    background: transparent !important;
  }

  .select__indicator-separator.css-1u9des2-indicatorSeparator {
    display: none;
  }

  .seccion-promociones {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 0 !important;
  }

  .titulo-promociones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    text-align: center;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 5rem 0 2rem 0;
  }

  .titulo-promociones h1 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
  }

  .promociones-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 0 0 2rem 0;
    margin: 0;
  }

  .seccion-whychooseus {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
  }

  .titleHeadline {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 800;
    line-height: 30px;
  }

  .content-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-card {
    font-weight: 700;
    font-size: 14px;
    font-family: "Montserrat" !important;
  }

  .contain-card {
    font-size: 11px;
  }

  .seccion-nuestros-seguros {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .titulo-nuestros-seguros {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  /* .phoneNumber {
    align-self: flex-start;
  } */

  .titulo-nuestros-seguros h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 800;
  }

  .nuestros-seguros-acordeones {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }

  .nuestros-seguros-acordeones .accordion-button {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 11px;
    line-height: 20px;
  }

  .accordion-header h2 {
    line-height: 20px !important;
  }

  .seccion-opinion-clientes {
    width: 100%;
    height: 3.8rem;
    background-image: url("../static/Frame - Curva-4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .opinion-clientes {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #5dbca3 0%, #008dc7 100%);
  }

  .titulo-opiniones-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .titulo-opiniones-clientes h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 800;
  }

  .click-opinion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }

  .opinion-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .opinion-1 img {
    display: flex;
    align-self: center;
    height: auto;
    width: 100%;
  }

  .opinion-1 h1 {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
  }

  .opinion-1 .opinion-textos {
    width: 156px;
    height: 88px;
    gap: 0px;
    opacity: 0px;
    text-align: center;
  }

  .click-opinion p {
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
  }

  .opinion-1 .calificacion-img {
    width: 86px;
    height: 17px;
  }

  .opinion-2,
  .opinion-3 {
    display: none;
  }

  .seccion-blog {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../static/PIEZAS GRAFICAS WEB - COMPARASEGURO_Mesa de trabajo_1_mobile.png);
  }

  .text-btn-blog {
    width: 100%;
    height: 50%;
    gap: 20px;
  }

  .ver-mas-art {
    width: 177px;
    height: 40px;
  }

  .textos-blog {
    padding: 0;
  }

  .textos-blog h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    text-align: center;
  }

  .botones-blog {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .botones-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .slider-blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
  }

  .slider-blog-img {
    width: 230px;
    height: 242px;
  }

  .slider-blog-img1 {
    width: 230px;
    height: 242px;
  }

  .sponsors {
    width: 100%;
    height: 40vh;
    justify-content: space-evenly;
  }

  .iconContent {
    display: block;
    width: 100%;
  }

  .iconSponsor {
    height: 60px;
  }

  .seccion-preguntas-frecuentes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 10%;
  }

  .titulo-preguntas-frecuentes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .titulo-preguntas-frecuentes h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 800;
  }

  .preguntas-acordeones {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }

  .content-cards {
    gap: 15px;
    padding: 30px 0px;
  }

  .iosCard {
    width: 80%;
    padding: 15px 20px;
    height: 6.3rem;
  }

  /* MODAL COTIZADOR */

  .form-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eff8f5;
    align-items: center;
    gap: 20px;
    min-height: 60vh;
    justify-content: center;
    margin-bottom: 26vh;
  }

  .form-mobile .react-international-phone-input-container {
    display: flex;
    width: 100%;
  }

  .buttonContainer {
    width: 100%;
    height: 12%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
  }

  .clear {
    color: #2c1fbd;
  }

  .comparar {
    background: #2c1fbd;
    padding: 12px 16px;
    color: #fff;
    border-radius: 18px;
  }

  .modalPassenger {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .modalPassenger .columna1 {
    background: #eef0ff;
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  .modalPassenger .columna2 {
    flex-direction: column;
    display: flex;
    height: 80%;
    width: 95%;
    align-items: flex-start;
    overflow-y: auto;
    padding: 0;
    gap: 10px;
  }

  .modalPassenger .columna3 {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalPassenger .listo {
    display: flex;
    width: 90%;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: white;
    background: #009c8c;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
  }

  .fullHeight {
    width: 100%;
    height: 60vh;
    transition-duration: 300ms;
  }

  .closed {
    display: flex !important;
    height: auto;
    transition-duration: 450ms;
  }

  .containerOption {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #inicio .modal-container {
    background: #eff8f5;
  }

  .goBackArrow {
    width: 1rem;
    height: 1.5rem;
  }
}
