/* CSS General */

.seccion-promociones .carousel-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.seccion-promociones .carousel-item {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible !important;
  display: flex;
}

.seccion-promociones .carousel-image {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  display: block !important;
  visibility: visible !important;
  object-fit: cover !important;
  opacity: 1 !important;
  filter: none !important;
}

.seccion-promociones .slick-slide {
  margin: 0;
  padding: 0;
}

.seccion-promociones .slick-list {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.seccion-promociones .slick-prev,
.seccion-promociones .slick-next {
  z-index: 1;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translate(0, -50%);
  color: #cdcdcd;
  transition: color 0.3s ease;
}

.seccion-promociones .slick-prev:hover,
.seccion-promociones .slick-next:hover {
  color: #000000;
}

.seccion-promociones .slick-prev:focus,
.seccion-promociones .slick-next:focus {
  color: #cdcdcd;
}

.seccion-promociones .slick-prev {
  left: -20px; /* Ajuste de la posición de la flecha anterior */
}

.seccion-promociones .slick-next {
  right: -20px; /* Ajuste de la posición de la flecha siguiente */
}

.seccion-promociones .slick-prev::before,
.seccion-promociones .slick-next::before {
  display: none;
}

/* Responsivo para dispositivos móviles en orientación portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .seccion-promociones .carousel-item {
    width: 60% !important; /* El item ocupará solo el 60% del ancho en móviles */
    padding: 0 !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .seccion-promociones .slick-next {
    right: 20px; /* Ajuste de la posición de la flecha siguiente */
  }

  .seccion-promociones .slick-prev {
    left: 0px; /* Ajuste de la posición de la flecha anterior */
  }

  .seccion-promociones .slick-list {
    padding: 0;
    margin: 0;
  }

  .seccion-promociones .carousel-image {
    max-width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    margin: 0 !important;
    display: block;
    padding: 0 !important;
  }

  .slick-track {
    left: 4.5rem;
  }
}

/* Responsivo para dispositivos tablets en orientación portrait */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .seccion-promociones .carousel-item {
    width: 60%; /* El item ocupará solo el 60% del ancho en tablets */
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0; /* Centra el item horizontalmente */
  }

  .seccion-promociones .slick-next {
    right: 15px; /* Ajuste de la posición de la flecha siguiente */
  }

  .seccion-promociones .slick-prev {
    left: 15px; /* Ajuste de la posición de la flecha anterior */
  }

  .seccion-promociones .slick-list {
    padding: 0; /* Un pequeño padding para tablets */
  }

  .seccion-promociones .carousel-image {
    max-width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    margin: 0;
    display: block;
    padding: 0;
  }

  .slick-track {
    left: 4.5rem;
  }
}

/* Ajuste general para la imagen dentro del carrusel */
.seccion-promociones .carousel-image {
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: auto !important; /* Fija la altura de las imágenes a 300px */
  margin: 0;
  display: block;
  padding: 0;
}

.seccion-promociones .slick-prev,
.seccion-promociones .slick-next {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.seccion-promociones .slick-list {
  padding: 0 10px;
}
