@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./static/Fonts/Montserrat-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'MontserratB';
    src: local('MontserratB'), url(./static/Fonts/Montserrat-Bold.ttf) format('truetype');
  }
  

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.208);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    width: 60%;
    height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 20px;
}
.modalBody{
    padding: 1rem 65px;
    color: #000; 
    flex: 1;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.boton-contain {
    width: 100%;
    height: 5%;
    background-color: #EFF8F5;
    margin: 0;
}

.boton-container {
    width: 100%;
    background: #EFF8F5;
    margin: 0;
    padding: 30px 10px;
    top: 0;
    right: 0;
}

.modal-close {
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.planes-card2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 35px;
}
.subtext{
    color: #959999;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 700;
    line-height: normal!important;
}
.namePlan{
    color: #009C8C;
    font-family: 'MontserratB';
    font-size: 32px;
}
.pricePlan{
    color:#008DC7;
    font-size: 32px;
    font-family: 'MontserratB';
}
.headlineText{
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 600;
    color: #009C8C;
}
.headerText{
    display: flex;
    align-items: center;
    padding: 30px 5px;
    gap: 10px;
    margin-left: 5%;
}
.html-content{
    padding: 25px 50px;
}
.modal-close img {
    height: 30px;
}

.coberturas-botones {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: space-around;
    padding: 1%;
}

.boton-cobertura {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 60px;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.mobile .boton-cobertura{
    padding: 10px 10px;
}
.mobileTexting{
    font-size: 1rem!important;
    line-height: 1rem!important;
    width: 60%;
} 
.mobileTexting2{
    font-size: 1.3rem!important;
    line-height: 1.3rem!important;
    padding: 10px;
    width: 100%;
}
.isMobile .coberturas-precio-plan{
    align-items: center;
    margin-top: 10px;
}
.isMobile .coberturas-precio-plan p{
    margin-top: 0px!important;
}

.isMobile .img-card-planes2{
    width: 40px!important;
    height: auto!important;
}
.flicker{
    width: 100%;
    display: flex;
}
.flicking-camera{
    gap:30px
}
.cards{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.planes-card {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #009c8c;
    border-radius: 25px;
}

.img-card-planes {
    height: 40px;
}

.img-card-planes2 {
    height: 30px;
}
.coberturas-comparar h2, .coberturas-comparar2 h2 {
    font-family: 'Montserrat';
    color: #666;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: left;

}
.coberturas-comparar2 p{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: left;
}
.coberturas-comparar2{
    padding: 16px 10px;
}
.included{
    color: #009C8C;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
}
.included.mobile{
    font-size: 1rem;

}
.notIncluded.mobile{
    font-size:1rem;
}
.notIncluded{
    color: #111;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
}
.boton-contratar {
    display: flex;
    text-decoration: none;
    background-color: #008DC7;
    border-radius: 50px;
    padding: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.coberturas-comparar {
    display: flex;
    width: auto;
    border-radius: 15px;
    height: auto;
    background-color: #EFF8F5;
    text-align: start;
    padding: 2%;
    margin-top: 10px;
}
.Mobile{
    width: 90%;
    border: 3px solid #009c8c!important;
}

.coberturas-comparar2 {
    display: flex;
    width: auto;
    border-radius: 15px;
    height: auto;
    background-color: transparent;
    text-align: justify;
    margin: 10px 20px 0px 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.coberturas-precio-plan {
    height: auto;
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    justify-content: space-around;
}

.coberturas-precio-plan p {
    font-size: medium;
    text-align: center;
    font-weight: bolder;
}


@media (orientation: portrait) {
    .modal-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        border: 0;
    }
    .boton-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .modal-close {
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: right;
        align-items: flex-start;
        margin-left: auto;
        top: 0;
        right: 0;
        
    }
    .modalBack{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .planes-card {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        border: 1px solid #009c8c;
        border-radius: 25px;
    }

    .coberturas-botones {
        width: 100%;
        height: auto;
    }
}

.cotizacion-form {
    background-color: #EFF8F5;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 80px;
  }
  
  .cotizacion-form h2 {
    color: #fff;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    text-align: center;

  }
  
  /* .cotizacion-form input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #F7F7F7;
    height: 50px;
  } */
  .email-input {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 8px 25px
  }
  
  
  .email-icon {
    color: #009C8C; /* Color verde similar al de la imagen */
    margin-right: 10px; 
  }
  
  .email-input input {
    border: none;
    outline: none;
    flex: 1;
  }
  .cotizacion-form .Enviar {
    background-color: #009C8C;
    color: white;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    text-align: center;

  }
  .backArrow{
    width:24px;
    height: 24px;
  }
  .footerBanner{
    background-color: #009C8C;
    padding: 28px 0px;
    width: 100%;

  }
.cotizacion-form form{
    width: 100%;
    padding: 65px 45px;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    background:#fff;
    gap: 25px;
}